.idea/workspace.xml
.idea/
.idea/misc.xml
ExCELlence.iml
.idea/encodings.xml
.idea/modules.xml
.idea/workspace.xml
.idea/*
out/production/ExCELlence/cs3500/ExCELlence/model/AnimationModel.class
out/production/ExCELlence/cs3500/ExCELlence/model/Color.class
out/production/ExCELlence/cs3500/ExCELlence/model/MainTest.class
out/production/ExCELlence/cs3500/ExCELlence/model/Position2D.class
out/production/ExCELlence/cs3500/ExCELlence/model/SingleAnimation.class
out/production/ExCELlence/cs3500/ExCELlence/model/shapes/Oval.class
out/production/ExCELlence/cs3500/ExCELlence/model/shapes/Rectangle.class
out/production/ExCELlence/cs3500/ExCELlence/model/shapes/Shape.class
out/production/ExCELlence/cs3500/ExCELlence/model/shapes/ShapeImpl.class
out/production/ExCELlence/cs3500/ExCELlence/model/shapes/Triangle.class
out/production/ExCELlence/cs3500/ExCELlence/model/transitions/Transition.class
out/production/ExCELlence/cs3500/ExCELlence/model/transitions/TransitionImpl.class
